body{
    background: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
nav{
    width: 100%;
    display: flex;
    color: white;
   
    justify-content: center;
}
ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
li a{
    color: white;
    text-decoration: none;
}
.search{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
.container{
 background-image: url(download.jpg);
height: 500px;
display: flex;
background-repeat: no-repeat;
color: white;
background-size: cover;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
margin-bottom: 50px;
padding-left: 20px;
}
.content h3{
    margin-top: 60px;
}

.searchicon {
    z-index: 1;
    position: absolute; 
    margin-left: 150px;
    margin-top: 5px;
    color: black;
} 
.txt1{
width: 40%;
margin: 2%;
padding: 3%;
float: left;

}
.info{
    width: 40%;
margin: 2%;
padding: 3%;
float: left;


}
.info button{
    background-color: red;
    color: white;
    width: 40%;
    margin: 2%;
    padding: 3%;
}
.info a{
    color: white;
}
input[type="email"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    color:white;
 }
input[type="password"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    color: white;
}
.infolabel{
    display: flex;
}